@import '../Common.css';

Label {
    color: color(var(--primary) shade(50%));
    font-size: 10px;
}

.primary {
    Label {
        &.derp { color: blue; }
        color: var(--primary);
        font-size: 23px;

    }
}